<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darkdev.ki">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <activity android:name=".MainActivity"
            android:label="Project  - Ki"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebActivity"
            android:label="Ki Web Browser"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".WeatherActivity"
            android:label="Ki Weather Info"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".BusActivity"
            android:label="Ki Bus Info"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".SubwayActivity"
            android:label="Ki Subway Map"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".FoodActivity"
            android:label="Ki - 맛집 정보"
            android:configChanges="orientation|screenSize" />

        <activity android:name="com.darkdev.ai.ScriptActivity"
            android:label="Scriptable AI"
            android:configChanges="orientation|screenSize" />

        <service
            android:name=".MainService"
            android:label="케이아이"
            android:foregroundServiceType="location|microphone" />
        <service
            android:name=".KakaoTalkListener"
            android:label="케이아이"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:foregroundServiceType="location|microphone" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>